 body {
      background-color: #9ec6f4;
      margin: 0;
      padding: 0;
    }

    .barra1, .barra2, .barra3 {
      background-color: #3e64c5;
      border-radius: 10px;
      position: absolute;
    }

    .barra1 {
      height: 70vh;
      width: 15%;
      bottom: 0;
      left: -1%;
    }

    .barra2 {
      height: 70vh;
      width: 15%;
      top: 0;
      right: 0;
    }

    .barra3 {
      height: 25vh;
      width: 70%;
      top: 0;
      right: 4%;
      border-radius: 5px;
    }

    .faixa-pedestre, .faixa-pedestre2 {
      position: absolute;
    }

    .faixa-pedestre {
      height: 31vh;
      width: 20%;
      left: 0;
      top: 0;
    }

    .faixa-pedestre2 {
      height: 31vh;
      width: 15%;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .linhas-faixa, .linhas-faixa-2 {
      background-color: white;
      height: 3.6vh;
      margin: 10px 0;
    }

    .linhas-faixa {
      width: 45%;
      margin-left: 20px;
    }

    .linhas-faixa-2 {
      width: 60%;
      margin-left: 40px;
    }

    #SAIDA, #ENTRADA {
      writing-mode: sideways-lr;
      font-family: sans-serif;
      font-weight: 700;
      position: absolute;
    }

    #SAIDA {
      left: 65%;
      top: 40%;
    }

    #ENTRADA {
      left: 84%;
      top: 40%;
    }

    .vagas-direita, .vagas-esquerda {
      position: absolute;
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .vagas-direita {
      left: 55%;
      top: 25%;
    }

    .vagas-esquerda {
      right: 56%;
      top: 45%;
    }

    .vaga-esquerda {
      position: relative;
      height: 120px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }

    .vaga-direita {
      position: relative;
      height: 120px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .linha-vaga-esquerda {
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      width: 50%;
      background-color: black;
    }

     .linha-vaga-direita {
      position: absolute;
      right: 0;
      top: 0;
      height: 4px;
      width: 50%;
      background-color: black;
    }

 img {
      height: 250px;
      z-index: 1;
    }

    .registro {
      width: 30%;
      position: absolute;
      top: 40%;
      right: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .registro h2 {
      font-family: sans-serif;
      font-size: 50px;
      font-weight: bold;
      height: 20px;
    }

    .registro h3{
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 300;
    }

    .registro input {
      padding: 8px;
      border-radius: 8px;
      font-family: sans-serif;
      font-weight: bold;
      margin-top: 10px;
      width: 150px;
      background-color: transparent;
      cursor: pointer;
      color: white;
      border: 4px solid #3e64c5;
      font-size: 16px;
    }

    .registro input:hover {
      background-color: #3e64c5;
    }