body{
    background-color: #9EC6F4;
}
#container{
    width: 40rem;
    height: 40rem;
    background-color: white;
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.para_choque{
    width: 30rem;
    height: 8rem;
    background-color: #9EC6F4;
    border-radius: 40px;
    border: 3px solid black;
    margin-top: 2rem;
}
.Lampada_esquerda{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 2rem;
    margin-top: 1.2rem;
    box-shadow: 0 0 20px yellow;
}
.Lampada_direita{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 22.8rem;
    margin-top: -5.3rem;
    box-shadow: 0 0 20px yellow;
}
.meio-para_choque {
    display: flex;
    border: 4px solid black; /* borda externa do trapezio */
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    background-color: black;
    max-width: 13rem;
    margin-left: 8.3rem;
    margin-top: -4.7rem;
    justify-content: space-between; /* espaça os quadrados */
    padding: 0 2px; /* dá espaço para as bordas laterais */
}

.square {
    width: 40px;
    height: 70px;
    background-color: white;
    border-left: 2px solid black; /* já existente */
}

/* adiciona borda à direita do último quadrado */
.square:last-child {
    border-right: 2px solid black;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    width: 21rem;
    height: 20rem;
}

.username_input{
    width: 30rem;
    height: 2.7rem;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5rem;
    padding-left: 10px;
    font-size: 1rem;
}

.senha_input{
    width: 30rem;
    height: 2.7rem;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 2rem;
    padding-left: 10px;
    font-size: 1rem;
}

.button_entrar{
    width: 15rem;
    height: 3rem;
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 1.5rem;
    margin-left: 7.3rem;
    background-color: #9EC6F4;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.button_entrar:hover{
    background-color: #7DA8E3;
}
